<header>

  <div class="header">
  <a href="/"><img src="/images/logo-animecafe-mobile.svg" alt="logo mangakafe" height="85"
      class="logo logo-mobile"></a>
  <a href="/"><img src="/images/logo_animecafe_bigscreen.svg" alt="logo mangakafe" height="90" class="logo logo-big"></a>



    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    
    <div class="search_wrap">
      <form class="search_box " action="/search" method="GET">
        <input class="input" type="search" placeholder="Search" aria-label="Search" name="title">
        <button class="btn-search" type="submit">

        </button>
      </form>
    </div>


    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <nav>
      <ul>
        <li><a href="/anime/browse">Browse</a></li>

        {{#if user}}
          <li style=" height: 85px;width: 85px;"> 
            <a href="/users/user-profile"><img src="{{user.image_url}}" alt="" style="height: 100%;width: 100%; border-radius: 50%;"></a>
          </li>
        {{else}}
          <li class="login-btn"><a href="/auth/login">Log In</a></li>
          <li class="sign-btn"><a href="/auth/signup">Sign up</a></li>
        {{/if}}
      </ul>
    </nav>

  </div>
</header>