<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/auth/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar/style.css" />
    <link rel="stylesheet" href="/stylesheets/mangainfo/style.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/footer/style.css" />

</head>

<body>
    {{> header}}

    <div class="container-fluid">
        <a href="/manga//127907">
        <div class="row landingImg justify-content-end">
            <div class="col-12 col-md-4 mr-5">
                <div class="cardLand p-4">
                    <h4 class="bold" style="font-size: 25px;"> KAIJU NO. 8, VOL. I </h4>
                    <h4 class="bold" style="font-size: 25px;"> BY NAOYA MATSUMOTO</h4>
                    <p class="pt-2" style="font-size: 20px;"> Kafka hopes to one day keep his pact with his childhod
                        friend Mina to join the Japan Defense Force and fight by her side.</p>
                    <div class=" row justify-content-center pt-2">
                        <a type="buton" href="/manga//127907" class="buttonLan "> Discover</a>
                    </div>

                </div>
            </div>
            </a>
        </div>

        <div class="row p-5" style="background-color: #F4F3F0;">
            <p class="bold pb-4" style="font-size: 25px;">NEW RELEASES THIS MONTH</p>
            {{#each articles}}
            {{> cardPartial this }}
            {{/each}}

        </div>

        <div class="row p-5">
            <p class="bold" style="font-size: 25px;">OUR READER'S FAVORITES</p>
            {{#each recommendations}}
            {{> cardPartial this }}
            {{/each}}
        </div>
    </div>

    {{> footer}}


    <script src="/js/script.js"></script>
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>