.bgauth {
    background-color: #E8E8F1;
    height: 100vh;
}

.btn-signin {
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    padding: 0.8em;
    border: 1px solid black;
    background-color: var(--yellow);
}

.btn-signin:hover {
    background-color: black;
    color: white;
}





.buttonAut {
    background-color: #E8FCAB;
    border-radius: 20px;
    width: 30%;
}

.inputAuth {
    border-radius: 8px !important;
}

.centerText {
    text-align: center;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boldtext {
    font-weight: bold;
}

.narutoImg {
    width: 90%;
    height: 80%;
}

.contentImgNaruto {
    display: none;
    justify-content: flex-start;
}

.auth-log {
    margin: 0 auto;
    padding: 3em;

}

.auth-log .centerText {
    font-family: p22-mackinac-pro, serif;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .contentImgNaruto {
        display:flex;
    }
}