header {
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--white);
    border-bottom: var(--black) 1px solid;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    top: 0;
}

.logo {
    display: flex;
    left: 35px;
    top: 100px;
    margin-bottom: 2rem;
}

.logo-big {
    display: none;
}


/* || BURGER MENU */

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    cursor: pointer;
}

.nav-toggle-label {
    position: absolute;
    top: 3em;
    left: 0;
    margin-left: 1em;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--black);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    background-color: var(--lilac);
    border-radius: 70px;
    text-align: left;
    left: 0;
    width: 60%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 50% 0;
    flex-direction: column;
    align-items: center;
    z-index: 999999;
}

nav li {
    margin-bottom: 1em;
    /* margin-left: 1em; */
}

nav a {
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/* || SEARCH BAR */

.search_wrap {
    width: 90%;
    display: flex;
    justify-content: center;
}

.search_box {
    position: relative;
    width: 300px;
    height: 40px;
}

.search_box .input {
    padding-left: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    border: rgb(145, 145, 145) 1px solid;
    border-radius: 70px;
    text-transform: capitalize;
    background: #f3f3f3;
}

.search_box .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: #f3f3f3 url(https://bulletin.co/img/icon_search-20.d00fcba8.svg) no-repeat 50%;
    border: rgb(145, 145, 145) 1px solid;
    border-radius: 70px;
    cursor: pointer;
}

.search_box .btn-search:hover {
    background-color: var(--yellow);
}

.container .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}


/* ||NAVIGATION */

.sign-btn,
.login-btn {
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: black;
    transition: 0.3s;
    padding: 0.5em 0;
}

.login-btn {
    border: none;
    background-color: white;
}

.sign-btn {
    border: 1px solid black;
    background-color: var(--yellow);
}

.sign-btn a,
.login-btn a {
    margin: 50px 13px;
}

.sign-btn:hover,
.login-btn:hover {
    background-color: black;
    color: white;
}

.sign-btn:hover a,
.login-btn:hover a {
    color: white;
}


/* || MAIN CONTAINER */

.gallery {
    padding: 0 0 4rem 0;
}

.img-container {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.card {
    border: none !important;
    margin: 1em;
}

.card-img {
    border-radius: none !important;
}


/* || BIG SCREEN 
@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
    }
    .img-content {
        display: block;
        padding: 1rem 0;
    }
    .logo-mobile {
        display: none;
    }
    .logo-big {
        display: flex;
        margin-bottom: 0;
    }
    .nav-toggle-label {
        display: none;
    }
    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        flex-direction: row;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
        color: var(--black);
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    .search_box {
        width: 500px;
    }
}*/


/* || LAPTOP */

@media screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .header {
        flex-direction: row;
    }
    .search_wrap {
        justify-content:flex-end;
    }
    .img-content {
        display: block;
        padding: 1rem 0;
    }
    
    .logo-mobile {
        display: none;
    }
    .logo-big {  
        display: flex;
        margin-bottom: 0;
    }

    .nav-toggle-label {
        display: none;
    }
    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        flex-direction: row;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
        color: var(--black);
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    .search_box {
        width: 500px;
    }
}


/* || TABLET */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .header {
        flex-direction: column;
    }
    .img-content {
        display: block;
        padding: 1rem 0;
    }
    .logo-mobile {
        display: none;
    }
    .logo-big {
        display: flex;
        margin: 2em 0;
    }
    /* .nav-toggle-label {
        display: none;
    }

    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        flex-direction: row;
    }

    nav li {

        color: var(--black);
    }

    nav a {
        opacity: 1;
        position: relative;
    } */
    .search_box {
        width: 500px;
    }
}