body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.noborder {
    padding: 0 !important;
    border: 0 !important;
}

.bgauth {
    background-color: #E8E8F1;
}

.buttonAut {
    background-color: #E8FCAB;
    border-radius: 20px;
    width: 30%;
}

.inputAuth {
    border-radius: 8px !important;
}

.centerText {
    text-align: center;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boldtext {
    font-weight: bold;
}

.narutoImg {
    width: 90%;
    height: 80%;
}

.contentImgNaruto {
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 600px) {
    .contentImgNaruto {
        display: none;
    }
}