@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:wght@500;700&display=swap');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Vollkorn', serif; */
:root {
    /* Palette */
    --white: #fff;
    --black: #42413d;
    --yellow: #E8FCAB;
    --lilac: #E8E8F1;
    --beige: #F4F3F0;
}

* {
    box-sizing: border-box;
}

body,
* {
    font: 1rem "Roboto", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

/* || General styles */

/* unvisited link */
a:link {
    color: var(--black);
}

/* visited link */
a:visited {
    color: var(--lilac);
}

/* mouse over link */
a:hover {
    color: #5e5eb6 !important;
} 


h1 {
    color: 30px;
    font: 14px "Vollkorn", Helvetica, Arial, sans-serif;
}

.bgauth {
    background-color: #E8E8F1;
    padding: 0 !important;
    border: 0 !important;
    height: 100vh
}

.buttonAut {
    background-color: #E8FCAB;
    border-radius: 20px;
    width: 30%;
}

.inputAuth {
    border-radius: 8px !important;
}

.centerText {
    text-align: center;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boldtext {
    font-weight: bold;
}

header {
    background-color: var(--white);
    width: 100%;
    border-bottom: var(--black) 2px solid;
    position: absolute;
}

nav ul {
    padding: 2.5rem 0;
    display: flex;
    justify-content: flex-start;
}

nav li {
    padding: 2.5rem 5rem;
    font-size: 1.25rem;
}

/* || SEARCH BAR */
.form-control {
    width: calc(100% - 56px);
    height: 38px;
    border: rgb(145, 145, 145) 1px solid !important ;
    padding-left: 20px;
    text-transform: capitalize;
    background: #f3f3f3;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px!important;
    padding-right: 70px;
    border: none;
}
.btn-search {
    height: 38px;
    width: 56px;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border: rgb(145, 145, 145) 1px solid !important ;
    transition: background-color .2s ease-out;
    background: #f3f3f3 no-repeat 50%;
    background-size: 20px 20px;
}
.btn-search:hover{
    background-color: var(--yellow);
}

textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}


/* || MAIN CONTAINER */
.gallery {
    padding: 0 0 4rem 0;
}

.img-container {
    width: 100%;
    /* height: 800px; */
    cursor: pointer;
    overflow: hidden;
}

img {
    width: 100%;
    object-fit: cover;
}

.card {
    border: none !important;
    margin: 1em;
}

.card-img {
    border-radius: none !important;
}

@media screen and (max-width: 1024px) {
    .img-content {
        display: block;
        padding: 1rem 0;
    }
}