

{{#if results}}
<section class="gallery">
    <h1>Results</h1>
        {{#each results}}

  <div class="container">
    <div class="grid">
      <div class="column-xs-12 column-md-4">
        <figure class="img-container">
          <img src={{image_url}} />
          <figcaption class="img-content">
            <h2 class="title">{{title}}</h2>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
      {{/each}}

</section>
{{/if}}

