

{{#if results}}
  <h1>Results</h1>
  {{#each results}}<div class="container">

<!-- Card deck -->
<div class="card-deck row">

  <div class="col-xs-12 col-sm-6 col-md-4">
  <!-- Card -->
  <div class="card">

    <a href=`/show/{{title}}`>
    <img src={{image_url}} class="card-img-top" alt="..."></a>
    <div class="card-body">
      <a href=`/show/{{title}}`>
      <h5 class="card-title">{{title}}</h5></a>
    </div>
  </div>
</div>
  {{/each}}

{{/if}}
