{{!-- views/users/user-profile.hbs --}}

{{!-- the new version, with the session: --}}

{{#if userInSession}}
    <h2>Welcome, {{ userInSession.name }}!</h2>
    <p>This is your profile page my friend!</p>
    <button>
        <a href="/users/user-profile">Reload the page</a>
    </button>

    <form id="logout-form" action="/auth/logout" method="POST">
    <button>Logout</button>
  </form>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
